<div class="searchName">
    <input class="searchNameInput" type="text" [(ngModel)] = "searchedName" (input) = "searchName()" placeholder="Search location">
</div>

<div class="buttons">
    <button (click)="prevPage()">Prev page</button>
    <button (click)="nextPage()">Next page</button>
</div>
<br/>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Code</td>
            <td>Air Date</td>
            <td>Created</td>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let episode of episodes">
            <tr>
                <td>{{episode.name}}</td>
                <td>{{episode.episode}}</td>
                <td>{{episode.air_date | date:'dd/MM/y'}}</td>
                <td>{{episode.created | date:'dd/MM/y'}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>

<div class="buttons">
    <button (click)="prevPage()">Prev page</button>
    <button (click)="nextPage()">Next page</button>
</div>
<br/>